{% extends 'layouts/base.twig' %}

{% block banner %}
<div class="Jumbotron">
  <div class="container px-0 py-3 px-md-3 p-lg-5">
    <h1 class="display-4 d-none d-md-block">Welcome to The Blue Dawn</h1>
    <h1 class="d-md-none">Welcome to The Blue Dawn</h1>
    <p class="lead d-none d-md-block">
      Blue Dawn is a community initiative/support group working by values of community healing and a facilitator of accessible mental health services to Bahujans.
    </p>
    <p>
      We connect Bahujan people in need of mental health counseling with counselors who understand the intersection
      of mental health and caste/minority issues, and with sponsors who can help make mental health counseling accessible to our community.
    </p>
    <a class="Button-1" href="/speak-to-a-counselor/" role="button">Seek Counseling</a>
    <a class="Button-2" href="/sponsor-sessions/" role="button">Sponsor Counseling</a>
  </div>
</div>
{% endblock %}

{% block content %}
<main class="wrap content container p-3 p-sm-5" role="document" id="content">
  <section class="py-5 text-center">
    <div class="fb-video" data-href="https://www.facebook.com/dialoguebybuzzfeed/videos/167740320838536/" data-width="600" data-show-text="false"><blockquote cite="https://developers.facebook.com/dialoguebybuzzfeed/videos/167740320838536/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/dialoguebybuzzfeed/videos/167740320838536/">How Casteism Leads To Severe Mental Health Problems</a><p>One cannot and should not talk about mental health in isolation. We have to look at the psychosocial aspects, that is, caste and class dynamics of it.  Please reach out to Blue Dawn, a care group for members of the community, if you want to talk, share, or even seek help. Contact: thebluedawn56&#064;gmail.com</p>Posted by <a href="https://www.facebook.com/dialoguebybuzzfeed/">Dialogue</a> on Monday, October 29, 2018</blockquote></div>
  </section>



  <section class="py-5">
    <h1>What We Do</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="Card">
          <div class="Card-img-top" style="background: url('http://thebluedawn.org/app/uploads/2019/04/IMG1_page-0001.jpg') no-repeat center center;">
            <p>Matching clients with counselors</p>
          </div>
          <div class="card-body">
            <p class="card-text">
              Blue Dawn facilitates anti-caste, queer-friendly, disabled-friendly mental health care services to Bahujans. If you are a Bahujan and seeking support, please fill the Google Form to get in touch with us.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/speak-to-a-counselor/" class="btn btn-sm btn-outline-secondary text-secondary">Get started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="Card">
          <div class="Card-img-top" style="background: url('http://thebluedawn.org/app/uploads/2019/04/IMG_page-0001.jpg') no-repeat center center;">
            <p>Network of Bahujan-friendly counselors</p>
          </div>
          <div class="card-body">
            <p class="card-text">
              If you are a counselor or psychiatrist who understands structural oppression, especially caste oppression, and are ready to offer pro bono or affordable services, please fill the Google Form to get in touch with us.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/counselors-network/" class="btn btn-sm btn-outline-secondary text-secondary">Get involved</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="Card">
          <div class="Card-img-top" style="background: url('http://thebluedawn.org/app/uploads/2019/04/IMG_0001_page-0001.jpg') no-repeat center center;">
            <p>Sponsor clients in need</p>
          </div>
          <div class="card-body">
            <p class="card-text">
              If you are neither a counselor nor a patient but want to make mental health care accessible to all, you can sponsor therapy sessions for clients in need. Please fill the Google Form to get in touch with us.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/sponsor-sessions/" class="btn btn-sm btn-outline-secondary text-secondary">Get in touch</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="py-5">
    <div class="container p-5 bg-white rounded shadow-sm">
      <h2 class="border-bottom border-gray pb-2 mb-0">Events and Workshops</h2>

      {% include 'partials/post-list.twig' with { 'posts': events } %}

    </div>
  </section>

</main>
{% endblock %}
